---
import AddressCard from "../components/AddressCard.astro";
import MegaAccessBar from "../components/MegaAccessBar.astro";
import Layout from "../layouts/Layout.astro";
import AddAddress from "../components/AddAddress.jsx";
import { get_address } from "../lib/petstore_service.js";
import axios from "axios";

let session = Astro.cookies.get("session");
console.log("session details: ", session);
let addresses = await get_address(session.value);

console.log("addresses - ", addresses);
let defaultAddress;
for (var [i, address] of addresses.entries()) {
  if (address["is_default"] == 1) {
    defaultAddress = address;
    addresses.splice(i, 1);
    break;
  }
}

console.log("default address - ", defaultAddress);
console.log("size -> ", addresses.length);
---

<Layout title="Address Book">
  <div class="orders-main">
    <MegaAccessBar />
    <div class="address-list">
      <div class="address-title">
        <div>Saved Addresses</div>
        <AddAddress session={session} client:load />
      </div>

      <div class="address-cat">
        <div>Default Address</div>
        {
          defaultAddress != null ? (
            <AddressCard session={session} address={defaultAddress} />
          ) : (
            <div>No default address found</div>
          )
        }

        <div>Other Address</div>
        {
          addresses != null || addresses.length > 0 ? (
            addresses.map((ad) => (
              <AddressCard session={session} address={ad} />
            ))
          ) : (
            <div>No other addresses found</div>
          )
        }
      </div>
    </div>
  </div>
</Layout>

<style>
  .orders-main {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    width: 100%;
  }

  .address-list {
    width: 70%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
  }

  .address-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-bottom: 5%;
  }

  .address-cat {
    font-size: medium;
    font-weight: 600;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .address-cat > * {
    margin-bottom: 3%;
  }
</style>
