---
import { Chip } from "@mui/material";
import CartCard from "../components/CartCard.astro";
import Layout from "../layouts/Layout.astro";
import axios from "axios";
import AlertDialog from "../components/ConfirmPopUp";

let session = Astro.cookies.get("session");
var items = [];
var total;

let deliver_to = "AJAY D (9530193055)";
let delivery_address = `54/90I, Jimmy Street,
Behind PoolClub Sinata,
TellyTubby,
Dubai - 783019`;

//Fire api request
const getCart = async () => {
  console.log("firing api /cart/items");
  await axios({
    url: "/cart/items",
    method: "GET",
    baseURL: "http://localhost:8082",
    headers: {
      Authorization: "Bearer " + session.value,
    },
  })
    .then((response) => {
      //console.log("cart response: ", response);
      items = response.data['items'];
      total = response.data['total'];
    })
    .catch((error) => {
      // console.log('[cart] ', axios.request);
      console.log("[cart] ", error);
    });
};

if (import.meta.env.LOCAL_DEV === 'true') {
  console.log('in local mode')

  total = 3000
  items = [
    {
      sddocname: "products",
      documentid: "id:namespace:products::5",
      idProducts_Animal: "1",
      title:
        '"Beagle Puppies: Curious Companions for Your Next Great Adventure!"',
      description:
        "Beagles are known for their friendly and curious nature. They are a small to medium-sized breed with a keen sense of smell, often used in hunting and detection roles.",
      age: "4 month",
      lineage: "normal",
      weight: "5 kg",
      price: "23000",
      sex: "Male",
      color: "black n white",
      species: "Dog",
      breed: "Golden Retriever",
      collection: "Pet Accessory",
    },

    {
      sddocname: "products",
      documentid: "id:namespace:products::5",
      idProducts_Animal: "2",
      title:
        '"Beagle Puppies: Curious Companions for Your Next Great Adventure!"',
      description:
        "Beagles are known for their friendly and curious nature. They are a small to medium-sized breed with a keen sense of smell, often used in hunting and detection roles.",
      age: "4 month",
      lineage: "normal",
      weight: "5 kg",
      price: "23000",
      sex: "Male",
      color: "black n white",
      species: "Dog",
      breed: "Golden Retriever",
      collection: "Pet Companion",
    },

    {
      sddocname: "products",
      documentid: "id:namespace:products::5",
      idProducts_Animal: "3",
      title:
        '"Beagle Puppies: Curious Companions for Your Next Great Adventure!"',
      description:
        "Beagles are known for their friendly and curious nature. They are a small to medium-sized breed with a keen sense of smell, often used in hunting and detection roles.",
      age: "4 month",
      lineage: "normal",
      weight: "5 kg",
      price: "23000",
      sex: "Male",
      color: "black n white",
      species: "Dog",
      breed: "Golden Retriever",
      collection: "Pet Companion",
    },
  ];
} else {
  await getCart();
}

console.log("items >> ", items);
---

<Layout title="Cart Page">
  <div class="cart-parent">
    <div class="cart-item" id="cart">
      <div class="delivery-address">
        <div class="delivery-header">
          <div>Deliver To: {deliver_to}</div>
          <Chip label="Home" variant="outlined" color="primary" size="small" />
        </div>
        <div>{delivery_address}</div>
      </div>
      {items.map((item) => <CartCard item={item} />)}
    </div>

    <div class="cart-total">
      <div class="cart-price-title">Price Breakup</div>
      <div class="cart-price-breakup">
        <div class="row">
          <h5>Total MRP</h5>
          <h5>Rs.{total}</h5>
        </div>

        <div class="row">
          <h5>Platform Fee</h5>
          <h5>Rs.2</h5>
        </div>

        <div class="row">
          <h5>Shipping Fee</h5>
          <h5>Rs.1000</h5>
        </div>

        <div class="row">
          <h5>Handling Fee</h5>
          <h5>Free</h5>
        </div>

        <div class="cart-price-footer">
          <div class="row">
            <h3>Total</h3>
            <h4>Rs.5000</h4>
          </div>

          <div id="place-order">
            <AlertDialog delivery_address={delivery_address} total={total} session = {session} client:load />
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .delivery-address {
    padding: 3%;
    box-shadow: 0 6px 20px -10px #000000;
    margin-bottom: 5%;
    font-family: "Courier New", Courier, monospace;
    font-size: small;
    background-color: #fafafaaa;
  }

  .delivery-header {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* width */
  #scroll::-webkit-scrollbar {
    width: 1px;
  }

  /* Track */
  #scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  #scroll::-webkit-scrollbar-thumb {
    background: rgb(133, 132, 132);
  }

  .stepper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
  }

  .cart-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 5%;
  }

  .cart-item {
    display: flex;
    width: 70%;
    align-items: normal;
    flex-direction: column;
  }

  .cart-total {
    width: 20%;
    height: fit-content;
    padding: 3% 2%;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .cart-price-breakup > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    font-weight: lighter;
    color: rgba(128, 128, 128, 0.741);
  }

  .cart-price-title {
    font-size: medium;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.784);
    margin-bottom: 3%;
  }

  .cart-price-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 -6px 10px -10px #000000;
  }

  .cart-price-footer > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    font-weight: bold;
    color: rgb(64, 64, 64);
  }
</style>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
