---
import Layout from "../layouts/Layout.astro";
import axios from "axios";
import { Button } from "@mui/material";
import ImageGrid from "../components/ImageGrid.astro";

var id = Astro.url.searchParams.get("id") || "";
console.log("query -" + id);
var item = {
  title: "Hey",
  description: "test data local",
  lineage: "dragon",
  age: "2 weeks",
  weight: "40kg",
  color: "white",
  sex: "M",
  species: "mammal",
  price: "2000",
};
//Fire api request
const getSearchResults = async (val: string) => {
  await axios({
    url: "/pdp/details",
    method: "get",
    baseURL: "http://localhost:8082",
    params: {
      product_id: id,
    },
  })
    .then((response) => {
      // console.log("[LPL]search result - " + JSON.stringify(response.data, null, 4));

      //Extarct data and assign to items
      item = response.data;
    })
    .catch((error) => {
      console.log("[search] " + error);
    });
};

const cardData = new Map(Object.entries(item));
console.log("id -> " + id);

cardData.delete("Title");
cardData.delete("Price");
cardData.delete("id");

if (id != "") {
  await getSearchResults(id);
} else {
  console.log("no product id found during redirection");
}

const photos = [
  {
    url: "https://www.themillennialsahm.com/wp-content/uploads/2020/10/HuskyPuppy1.jpg",
    publishedOn: "23 Jan 2023"
  },

  {
    url: "https://cdn.dotpe.in/longtail/store-items/8096649/m5ajF3gx.jpeg",
    publishedOn: "09 July 2022"
  },

  {
    url: "https://cdn.dotpe.in/longtail/store-items/8096649/RVQ3ACZj.jpeg",
    publishedOn: "15 Dec 2023"
  }
];
---

<Layout title="PDP page">
  <div class="container">
      <ImageGrid photos={photos} />
    <div class="details">
      <div class="content">
        <h2>
          {item.title}
          <br />
          <span>Pet Collection</span>
        </h2>
        <p>
          {item.description}
        </p>

        <h2>
          <br />
          <h4>About the Pet</h4>
          <br />

          <span>
            <div class="tableContainer">
              <div class="index-row">
                <div class="index-rowKey">LINEAGE</div>
                <div class="index-rowValue">
                  {item.lineage}
                </div>
              </div>

              <div class="index-row">
                <div class="index-rowKey">AGE</div>
                <div class="index-rowValue">
                  {item.age}
                </div>
              </div>

              <div class="index-row">
                <div class="index-rowKey">WEIGHT</div>
                <div class="index-rowValue">
                  {item.weight}
                </div>
              </div>

              <div class="index-row">
                <div class="index-rowKey">SEX</div>
                <div class="index-rowValue">
                  {item.sex}
                </div>
              </div>

              <div class="index-row">
                <div class="index-rowKey">COLOR</div>
                <div class="index-rowValue">
                  {item.color}
                </div>
              </div>

              <div class="index-row">
                <div class="index-rowKey">SPECIES</div>
                <div class="index-rowValue">
                  {item.species}
                </div>
              </div>
            </div>
          </span>
          <br />

          <h3>Rs. {item.price}</h3>
        </h2>

        <div class="button-container">
          <div class="two-buttons">
            <Button size="medium" variant="outlined">Wishlist</Button>

            <Button size="medium" variant="outlined" href="/vc">
              Book a video call?
            </Button>
          </div>

          <div class="cart-component">
            <Button variant="contained" href="/cart" size="large" fullWidth>
              Add to Cart
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap");

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #fff;
    align-items: center;
    margin: 5%;
  }

  .container .details {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    align-content: center;
    width: 50%;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
  }

  .button-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }

  .button-container .two-buttons {
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
  }

  .button-container .cart-component {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
  }

  .container .details h2 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    color: #444;
  }

  .container .details h4 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    color: #000000;
    font-weight: bolder;
  }

  .container .details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
  }

  .container .details p {
    max-width: 85%;
    color: #333;
    font-size: 15px;
    margin-bottom: 36px;
  }

  .container .details h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: left;
  }

  .product-colors span {
    width: 26px;
    height: 26px;
    top: 7px;
    margin-right: 12px;
    left: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

  .black {
    background: #000;
  }

  .red {
    background: #d5212e;
  }

  .orange {
    background: #f18557;
  }

  .product-colors .active:after {
    content: "";
    width: 36px;
    height: 36px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -5px;
    top: -5px;
  }

  /* responsive */
  @media (max-width: 480px) {
    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      height: 100%;
      background: #fff;
    }

    .container .details {
      width: 100%;
      display: flex;
      align-items: start;
    }

    .container .content {
      justify-content: center;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      margin: 3%;
    }

    .button-container {
      position: relative;
      align-items: stretch;
      justify-content: center;
      width: 100%;
      display: flex;
      margin: 3%;
    }

    .button-container button {
      align-items: center;
      margin-right: 3%;
    }

    .container .imgBx {
      box-sizing: border-box;
      width: 100% !important;
      height: 100%;
      text-align: center;
      align-items: center;
      align-content: center;
      margin: 10%;
    }
    .container .imgBx img {
      width: 100%;
      align-items: center;
      align-content: center;
    }

    .container .details p {
      margin-left: 0;
      max-width: 100%;
    }

    .img-grid {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 80vw 30vw;
      gap: 1rem;
    }
  }

  footer {
    position: fixed;
    right: 16px;
    bottom: 12px;
  }

  footer a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }

  .tableContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 3%;
  }

  .index-row {
    position: relative;
    border-bottom: 1px solid #eaeaec;
    margin: 0 0 12px;
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }

  .index-rowKey {
    color: #7e818c;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
  }

  .index-rowValue {
    color: #282c3f;
    font-size: 16px;
    line-height: 1.2;
  }
</style>
